<br/>
<h2 align="center">Добавление товара</h2>
<br/>
<%= form_with url: 'item_insert', method: :post do |form| %>
	<p>
		<%= form.label 'Имя товара', class: 'form-label' %>
		<%= form.text_field :item_name, class: 'form-control' %>
	</p>
  <p>
		<%= form.label 'Цена товара', class: 'form-label' %>
		<%= form.text_field :item_price, class: 'form-control' %>
	</p>
  <p>
		<%= form.label 'Название картинки', class: 'form-label' %>
		<%= form.text_field :item_picture, class: 'form-control' %>
	</p>
  <p>
		<%= form.label 'Описание', class: 'form-label' %>
		<%= form.text_field :item_description, class: 'form-control' %>
	</p>
	<p>
		<%= form.submit 'Добавить товар', class: 'btn btn-primary' %>
	</p>
<% end %>
