<h2 align="center">Регистрация</h2>

<%= form_with url: 'create', method: :post do |form| %>
	<p>
		<%= form.label 'Введите e-mail', class: 'form-label' %>
		<%= form.email_field :email, placeholder: 'E-mail', class: 'form-control', id: 'email' %>
	</p>
	<p>
		<%= form.label 'Введите имя', class: 'form-label' %>
		<%= form.text_field :name, placeholder: 'Имя', class: 'form-control', id: 'name' %>
	</p>
	<p>
		<%= form.label 'Введите пароль', class: 'form-label' %>
		<%= form.password_field :password, class: 'form-control', id: 'password' %>
	</p>
	<p>
		<%= form.label 'Подтвердите пароль', class: 'form-label' %>
		<%= form.password_field :password_confirmation, class: 'form-control', id: 'password-confirmation' %>
	</p>
	<p>
		<%= form.submit 'Зарегистрироваться', class: 'btn btn-primary' %>
	</p>
<% end %>
<%= link_to 'Уже есть аккаунт? Войдите!', '../sessions/new' %>
